main {
  border: 3px solid black;
  margin: 0 auto;
  width: 500px;
  padding: 30px;
  background-color: #e8d9c5;
}
h1{border: 3px solid black;
  margin: 0 auto;
padding: 10px;
width: 500px;
background-color: #e8d9c5;}

h2{font-family: fantasy;}


ul{
  float: left;
  border: 2px outset lightgray;
  background-color: #6bb0ab;
  padding: 0 0 10px 0;
  width: 150px;
  list-style-type: none;}


/* li{margin: 0 auto; */

a{display: block;
text-decoration: none;
background-color: gray;
width: 100px;
margin: 10px auto 0 auto;
text-align: center;
border-radius: 5px;
}

a.blog {
  width:200px;
}

img{
  display:block;
  margin:auto;
}

section.illustration{margin:0 auto;
  clear: left;
}






p{border: 2px inset lightgray;
padding: 20px;
margin: 0 auto;
background-color: #6bb0ab;}

div{image-align: center;}

.button{text-align: center;}

h1,h2,p,h3,h4{text-align: center;}
